
/*  Css for all Files */

/* remove underline */
a{
    text-decoration: none;
    color: inherit; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin:0;
    padding:0;
    border:0;
}
header img{
    margin: 0;
    padding:0;
    width:auto;
    height:auto;
    border:0;
    max-width:95%;    
}
#logoutForm{
     margin: 0;
    border:0;
    padding: 10px;
    /*background-image: 
    linear-gradient(69deg,white 0%,#FEE8EE 20.57%,#FEEDE8 55%, white 100%);*/
    background-image: 
    repeating-linear-gradient(145.47deg, #bfe4ff 24%, #eaeff2 5%, #ceceff 55.07%, #dfd1f9 77%, #e6e3f5 93%, #eaeff2 100%);
   
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content:space-between;
    position: static;
    right: 0px;
    width: 200px;
    height:110px;

    text-align: right;
}
#logout{
        background: white;
    text-align: right;
    border:1px solid lightgray;
    border-radius: 5px;  
}
#login{
    margin: 0;
    border:0;
    padding: 10px;
    /*background-image: 
    linear-gradient(69deg,white 0%,#FEE8EE 20.57%,#FEEDE8 55%, white 100%);*/
    background-image: 
    repeating-linear-gradient(145.47deg, #bfe4ff 24%, #eaeff2 5%, #ceceff 55.07%, #dfd1f9 77%, #e6e3f5 93%, #eaeff2 100%);
   
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content:space-between;
    position: static;
    right: 0px;
    width: 200px;
    height:110px;

    text-align: right;

}
#login input[type=text]{
    text-align: right;
    border-radius: 15px;
    border:0px;
    background: white;

}
#login input[type=submit], #login a{
    background: white;
    text-align: right;
    border:1px solid lightgray;
    border-radius: 5px;  
}


body{
    /*background-image: */
    /*linear-gradient(69deg,white 24%,#E8F5FE 45%,#E8EAFE 50%,white 75%);*/
    background-image: linear-gradient(to right,white,#E8EAFE);
    margin: 0;
    padding:0;
}

#jumpLink{
    position: fixed;
    right: 20px;
    bottom: 20px;
    
    color:white;
    background-color: #B2CCEE;
    border: 1px solid black;
    
    text-align: center;
    font-size: 35px;
    font-family: "Brush Script MT", Cursive;
    
    width: 50px;
    height: 50px;
    border-radius: 45px;
}

footer{
    background-color: #B2CCEE;
    text-align: center;
    width: auto;
    color: white;
    margin: 0px;
    padding:  2px ;
}

/*navigation menu*/
#navibar{
    margin: 0;
    padding:0;

    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    
    border: 3px solid #B2CCEE;
    border-radius: 12px;
    /*border-image: linear-gradient(to right,#B2CCEE) 0;*/
    background-color: white;
    /* automatic full width*/
    width:auto;
}

/* fit icon sizes to navigation menu */
.naviIcon a img{
    align-content:space-evenly;
    height: 65%;
    max-height: 65%;
    width: auto;
}
/* menu point*/
.naviIcon{
    display: flex;
    flex-direction: column;
    
    font-size:150%;
    color:black;
    font-family: Verdana;
    font-weight:bold;
    font-variant: small-caps slashed-zero;

}
/* hover function that changes color of menu points */
.naviIcon:hover {
    background-color: #F7EFE1;
    transition: background-color 1s;
}

